.login {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: white;
}

.logo > h2 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 46px;
}
.login > button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 200ms ease-in;
  position: relative;
}
.login > button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.login > button:hover:after {
  transform: scaleX(1);
  transform-origin: top left;
}
